@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-background: #F0FDFA;
  --color-foreground: #134E4A;
  --color-primary: #0891B2;
  --color-secondary: #22D3EE;
  --color-cta: #22C55E;
  --color-surface: #FFFFFF;
  --font-sans: var(--font-figtree);
  --font-serif: var(--font-noto-sans);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
